{extend name="base:base" /}
{block name="header"}

{__block__}

{/block}
{block name="mainBody"}
{__block__}


<style> 
body{padding-bottom:60px;}
</style>
			
<div class="hui-wrap">
    <div id="refreshContainer" class="hui-refresh" >
    	<!-- hui-refresh-icon 为下拉动画展示区域 -->
        <div class="hui-refresh-icon"></div>
        <div class="hui-refresh-content hui-news-list  hui-img-list"  style="padding:10px 5px;">
			<ul>
				<!-- 内容展示区域 -->
			</ul>
        </div>
    </div>
</div>


<script src="__TX_HUI__/js/hui-refresh-load-more.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
var page = 1;
var loadMore=true; //是否还能加载更多
var load=false;	//是否还在加载中...
hui.refresh('#refreshContainer', refresh);
hui.loadMore(function(){
	if(page==1){
		loadMore=true;
	}
	if(loadMore == false){
		hui.endLoadMore(true, '没有更多了...');
		return false;
	}else{
		page++;
		getMore(page)
	}
});

//加载更多
function getMore(page){
	if(load==true){
		return ;
	}
	load=true;
	console.log(page);
	var _from={};
	  $.ajax({ type: "get",data: _from,url: '{:url("lazy/ajaxlist",input("get."))}', dataType: "json",success: function(res) {
			//layer.msg(res['msg']);
            console.log( res['info']['list']);
			if(res['code']=='000000'){
				if(res['info']['limit']<res['info']['count']){
					loadMore=false;
				}
				var html='';
               $.each(res['info']['list'],function(n,v){
			    html+='<li><a href="">';
                    html+='<div class="hui-news-list-l">';
                    html+='    美国大选揭幕！8张选票最先开出 希拉里4:2领先选揭幕！8张选<br />';
                    html+='    <span>重庆时报 | 刚刚</span>';
                    html+='</div>';
                    html+='<div class="hui-news-list-r"><img src="http://i1.go2yd.com/image.php?url=http://si1.go2yd.com/get-image/08MoO8luJKi&type=thumbnail_200x140" /></div>';
                html+='</a></li>';
				
					html+='<li class="video"><a href="{:url('lazy/detail',$_GET)}&lazy_id='+v['id']+'">';
					html+='<img class="img" src="/__TX_HUI__/img/imglist/1.jpg" />		';
					html+='	<div class="hui-img-list-content">		';
					html+='		<h1>'+v['title']+'</h1>				';
			//		html+='		<p>'+v['subitlte']+'</p>			';
					html+='	</div>									';
					html+='</a></li>								';
				/*	*/
			   })
			   $('.hui-img-list ul').append(html)
			}else{
			    hui.toast(res['msg']);
			}
			
		},
		error: function(xhr) {}
	});
	load=false;
	/*
    hui.get(
        ''+page,
        function(res){
            //判断加载完毕
         
            
			$('#list').append('html');
            page++;
			
			  //结束刷新
            hui.endRefresh();
            //重置加载更多状态
            hui.resetLoadMore();
        },
        function(){
            hui.closeLoading();
            hui.upToast('连接服务器失败！');
            hui.endRefresh();
        }
    );
	*/
	hui.loading(false, true);
	 hui.endLoadMore();
}

//下拉刷新
function refresh(){
    hui.loading('加载中...');
	getMore(1);
}
</script>

	

<script type="text/javascript">
hui.lazyLoad(); //懒加载
</script>
{/block}
{block name="footer"}
{__block__}

{/block}
